python-dotenv==1.0.0
python-telegram-bot[rate-limiter]==20.4
peewee==3.16.3
asyncpraw~=7.7.1
APScheduler==3.10.4
Pillow>=9.0.0
validators==0.22.0
pymysql~=1.1.0
pytz==2023.3
cryptography==41.0.3
requests==2.31.0
one-piece-wanted-poster==0.0.10
