############ REQUIRED ############
BOT_TOKEN=

OPD_GROUP_ID=
DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=

ADMIN_GROUP_ID=

############ OPTIONAL ############
BOT_DROP_PENDING_UPDATES=

TZ=

TEMP_DIR_CLEANUP_TIME_SECONDS=

CRON_TEMP_DIR_CLEANUP=
CRON_SEND_LEADERBOARD=
CRON_RESET_BOUNTY=
CRON_RESET_BOUNTY_ALERT=
CRON_RESET_DOC_Q_GAME=

BASE_MESSAGE_BELLY=

LEADERBOARD_LIMIT=

DOC_Q_GAME_REQUIRED_BOUNTY=
DOC_Q_GAME_OPTIONS_COUNT=
DOC_Q_GAME_WIN_ODD=
