############ REQUIRED ############
BOT_TOKEN=

DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

OPD_GROUP_ID=
OPD_CHANNEL_ID=
ADMIN_GROUP_ID=

REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=

############ OPTIONAL ############
DB_LOG_QUERIES=
BOT_DROP_PENDING_UPDATES=

TZ=

TEMP_DIR_CLEANUP_TIME_SECONDS=

CRON_TEMP_DIR_CLEANUP=
CRON_SEND_LEADERBOARD=
CRON_RESET_BOUNTY=
CRON_RESET_BOUNTY_ALERT=
CRON_RESET_DOC_Q_GAME=
CRON_RESET_BOUNTY_POSTER_LIMIT=
CRON_RESET_CAN_CHANGE_REGION=
CRON_ADD_REGION_BOUNTY=

BOUNTY_POSTER_LIMIT_PIRATE_KING=
BOUNTY_POSTER_LIMIT_EMPEROR=
BOUNTY_POSTER_LIMIT_FIRST_MATE=
BOUNTY_POSTER_LIMIT_SUPERNOVA=
BOUNTY_POSTER_LIMIT_ROOKIE=

BELLY_BASE_MESSAGE=
BELLY_CHARACTER_MULTIPLIER=
BELLY_CHARACTER_MAX_MULTIPLE=
BELLY_REPLY_TO_CHANNEL_POST_MULTIPLIER=
BELLY_STICKER_MULTIPLIER=
BELLY_ANIMATION_MULTIPLIER=

LEADERBOARD_LIMIT=

DOC_Q_GAME_REQUIRED_BOUNTY=
DOC_Q_GAME_OPTIONS_COUNT=
DOC_Q_GAME_WIN_ODD=
DOC_Q_GAME_SHOW_CORRECT_OPTION=

LOCATION_PARADISE_BOUNTY_INCREMENT=
LOCATION_NEW_WORLD_BOUNTY_INCREMENT=
LOCATION_PARADISE_IMAGE_URL=
LOCATION_NEW_WORLD_IMAGE_URL=
LOCATION_FOOSHA_VILLAGE_IMAGE_URL=
LOCATION_SHELLS_TOWN_IMAGE_URL=
LOCATION_ORANGE_TOWN_IMAGE_URL=
LOCATION_ISLAND_OF_RARE_ANIMALS_IMAGE_URL=
LOCATION_SYRUP_VILLAGE_IMAGE_URL=
LOCATION_BARATIE_IMAGE_URL=
LOCATION_ARLONG_PARK_IMAGE_URL=
LOCATION_LOUGETOWN_IMAGE_URL=
LOCATION_REVERSE_MOUNTAIN_IMAGE_URL=
LOCATION_WHISKEY_PEAK_IMAGE_URL=
LOCATION_LITTLE_GARDEN_IMAGE_URL=
LOCATION_DRUM_ISLAND_IMAGE_URL=
LOCATION_ARABASTA_KINGDOM_IMAGE_URL=
LOCATION_JAYA_IMAGE_URL=
LOCATION_SKYPIEA_IMAGE_URL=
LOCATION_LONG_RING_LONG_LAND_IMAGE_URL=
LOCATION_WATER_7_IMAGE_URL=
LOCATION_ENIES_LOBBY_IMAGE_URL=
LOCATION_THRILLER_BARK_IMAGE_URL=
LOCATION_SABAODY_ARCHIPELAGO_IMAGE_URL=
LOCATION_FISHMAN_ISLAND_IMAGE_URL=
LOCATION_PUNK_HAZARD_IMAGE_URL=
LOCATION_DRESSROSA_IMAGE_URL=
LOCATION_ZOU_IMAGE_URL=
LOCATION_WHOLE_CAKE_ISLAND_IMAGE_URL=
LOCATION_WANO_COUNTRY_IMAGE_URL=
