############ REQUIRED ############
BOT_TOKEN=
BOT_ID=
BOT_USERNAME=

DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

OPD_GROUP_ID=
OPD_CHANNEL_ID=
ERROR_LOG_CHAT_ID=
UPDATES_CHANNEL_ID=
SUPPORT_GROUP_LINK=

TG_REST_CHANNEL_ID=

REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=

############ OPTIONAL ############
BOT_DROP_PENDING_UPDATES=

TZ=
LOG_LEVEL=

DB_LOG_QUERIES=

LIMIT_TO_AUTHORIZED_USERS=
AUTHORIZED_USERS=
LIMIT_TO_AUTHORIZED_GROUPS=
AUTHORIZED_GROUPS=
OPMA_BOT_ID=

ANTI_SPAM_PRIVATE_CHAT_MESSAGE_LIMIT=
ANTI_SPAM_GROUP_CHAT_MESSAGE_LIMIT=
ANTI_SPAM_TIME_INTERVAL_SECONDS=

REDDIT_ONE_PIECE_SUBREDDIT=
REDDIT_MEME_PIECE_SUBREDDIT=

SUPABASE_REST_URL=
SUPABASE_API_KEY=

SENTRY_ENABLED=
SENTRY_DSN=
SENTRY_ENVIRONMENT=
SENTRY_ENABLE_TRACING=
SENTRY_TRACES_SAMPLE_RATE=
SENTRY_PROFILES_SAMPLE_RATE=
SENTRY_LOG_LEVEL=
SENTRY_LOG_EVENT_LEVEL=

CRON_TEMP_DIR_CLEANUP=
ENABLE_TIMER_TEMP_DIR_CLEANUP=
SHOULD_LOG_TIMER_TEMP_DIR_CLEANUP=
SHOULD_RUN_ON_STARTUP_TEMP_DIR_CLEANUP=

CRON_SEND_LEADERBOARD=
ENABLE_TIMER_SEND_LEADERBOARD=
SHOULD_LOG_TIMER_SEND_LEADERBOARD=
SHOULD_RUN_ON_STARTUP_SEND_LEADERBOARD=

CRON_RESET_BOUNTY_POSTER_LIMIT=
ENABLE_TIMER_RESET_BOUNTY_POSTER_LIMIT=
SHOULD_LOG_TIMER_RESET_BOUNTY_POSTER_LIMIT=
SHOULD_RUN_ON_STARTUP_RESET_BOUNTY_POSTER_LIMIT=

CRON_RESET_CAN_CHANGE_REGION=
ENABLE_TIMER_RESET_CAN_CHANGE_REGION=
SHOULD_LOG_TIMER_RESET_CAN_CHANGE_REGION=
SHOULD_RUN_ON_STARTUP_RESET_CAN_CHANGE_REGION=

CRON_ADD_REGION_BOUNTY_BONUS=
ENABLE_TIMER_ADD_REGION_BOUNTY_BONUS=
SHOULD_LOG_TIMER_ADD_REGION_BOUNTY_BONUS=
SHOULD_RUN_ON_STARTUP_ADD_REGION_BOUNTY_BONUS=
CRON_ADD_CREW_BOUNTY_BONUS=
ENABLE_TIMER_ADD_CREW_BOUNTY_BONUS=
SHOULD_LOG_TIMER_ADD_CREW_BOUNTY_BONUS=
SHOULD_RUN_ON_STARTUP_ADD_CREW_BOUNTY_BONUS=
CRON_ADD_CREW_MVP_BOUNTY_BONUS=
ENABLE_TIMER_ADD_CREW_MVP_BOUNTY_BONUS=
SHOULD_LOG_TIMER_ADD_CREW_MVP_BOUNTY_BONUS=
SHOULD_RUN_ON_STARTUP_ADD_CREW_MVP_BOUNTY_BONUS=
CRON_DAILY_REWARD=
ENABLE_TIMER_DAILY_REWARD=
SHOULD_LOG_TIMER_DAILY_REWARD=
SHOULD_RUN_ON_STARTUP_DAILY_REWARD=
CRON_RESET_BOUNTY_MESSAGE_LIMIT=
ENABLE_TIMER_RESET_BOUNTY_MESSAGE_LIMIT=
SHOULD_LOG_TIMER_RESET_BOUNTY_MESSAGE_LIMIT=
SHOULD_RUN_ON_STARTUP_RESET_BOUNTY_MESSAGE_LIMIT=

CRON_REDDIT_POST_ONE_PIECE=
ENABLE_TIMER_REDDIT_POST_ONE_PIECE=
SHOULD_LOG_TIMER_REDDIT_POST_ONE_PIECE=
SHOULD_RUN_ON_STARTUP_REDDIT_POST_ONE_PIECE=
CRON_REDDIT_POST_MEME_PIECE=
ENABLE_TIMER_REDDIT_POST_MEME_PIECE=
SHOULD_LOG_TIMER_REDDIT_POST_MEME_PIECE=
SHOULD_RUN_ON_STARTUP_REDDIT_POST_MEME_PIECE=

CRON_SEND_SCHEDULED_PREDICTIONS=
ENABLE_TIMER_SEND_SCHEDULED_PREDICTIONS=
SHOULD_LOG_TIMER_SEND_SCHEDULED_PREDICTIONS=
SHOULD_RUN_ON_STARTUP_SEND_SCHEDULED_PREDICTIONS=

CRON_CLOSE_SCHEDULED_PREDICTIONS=
ENABLE_TIMER_CLOSE_SCHEDULED_PREDICTIONS=
SHOULD_LOG_TIMER_CLOSE_SCHEDULED_PREDICTIONS=
SHOULD_RUN_ON_STARTUP_CLOSE_SCHEDULED_PREDICTIONS=

CRON_REFRESH_ACTIVE_PREDICTIONS_GROUP_MESSAGE=
ENABLE_TIMER_REFRESH_ACTIVE_PREDICTIONS_GROUP_MESSAGE=
SHOULD_LOG_TIMER_REFRESH_ACTIVE_PREDICTIONS_GROUP_MESSAGE=
SHOULD_RUN_ON_STARTUP_REFRESH_ACTIVE_PREDICTIONS_GROUP_MESSAGE=

CRON_SCHEDULE_DEVIL_FRUIT_ZOAN_RELEASE=
ENABLE_TIMER_SCHEDULE_DEVIL_FRUIT_ZOAN_RELEASE=
SHOULD_LOG_TIMER_SCHEDULE_DEVIL_FRUIT_ZOAN_RELEASE=
SHOULD_RUN_ON_STARTUP_SCHEDULE_DEVIL_FRUIT_ZOAN_RELEASE=

CRON_RESPAWN_DEVIL_FRUIT=
ENABLE_TIMER_RESPAWN_DEVIL_FRUIT=
SHOULD_LOG_TIMER_RESPAWN_DEVIL_FRUIT=
SHOULD_RUN_ON_STARTUP_RESPAWN_DEVIL_FRUIT=

CRON_DEACTIVATE_INACTIVE_GROUP_CHATS=
ENABLE_TIMER_DEACTIVATE_INACTIVE_GROUP_CHATS=
SHOULD_LOG_TIMER_DEACTIVATE_INACTIVE_GROUP_CHATS=
SHOULD_RUN_ON_STARTUP_DEACTIVATE_INACTIVE_GROUP_CHATS=

CRON_END_INACTIVE_GAMES=
ENABLE_TIMER_END_INACTIVE_GAMES=
SHOULD_LOG_TIMER_END_INACTIVE_GAMES=
SHOULD_RUN_ON_STARTUP_END_INACTIVE_GAMES=

CRON_SET_EXPIRED_BOUNTY_LOANS=
ENABLE_TIMER_SET_EXPIRED_BOUNTY_LOANS=
SHOULD_LOG_TIMER_SET_EXPIRED_BOUNTY_LOANS=
SHOULD_RUN_ON_STARTUP_SET_EXPIRED_BOUNTY_LOANS=

CRON_MINUTE_TASKS=
ENABLE_TIMER_MINUTE_TASKS=
SHOULD_LOG_TIMER_MINUTE_TASKS=
SHOULD_RUN_ON_STARTUP_MINUTE_TASKS=

TEMP_DIR_CLEANUP_TIME_SECONDS=

BELLY_UPPER_ROUND_AMOUNT=

INACTIVE_GROUP_DAYS=
INACTIVE_GROUP_USER_DAYS=

DAILY_REWARD_BONUS_BASE_AMOUNT=
DAILY_REWARD_BONUS_BASE_LOCATION=
DAILY_REWARD_BONUS_BASE_STREAK=
DAILY_REWARD_BONUS_MAX_STREAK=
DAILY_REWARD_BONUS_BASE_CREW_LEVEL=
DAILY_REWARD_BONUS_CREW_MVP=
DAILY_REWARD_STREAK_DAYS=
DAILY_REWARD_PRIZE_BELLY_PERCENTAGE=
DAILY_REWARD_PRIZE_SMILE_PERCENTAGE=

BOUNTY_POSTER_LIMIT_PIRATE_KING=
BOUNTY_POSTER_LIMIT_WARLORD=
BOUNTY_POSTER_LIMIT_EMPEROR=
BOUNTY_POSTER_LIMIT_FIRST_MATE=
BOUNTY_POSTER_LIMIT_SUPERNOVA=
BOUNTY_POSTER_LIMIT_ROOKIE=

LEADERBOARD_CREW_LIMIT=
LEADERBOARD_MIN_ACTIVE_USERS=

DOC_Q_GAME_REQUIRED_BOUNTY=
DOC_Q_GAME_OPTIONS_COUNT=
DOC_Q_GAME_WIN_ODD=
DOC_Q_GAME_OPTIONS_COUNT_FINAL_LOCATION=
DOC_Q_GAME_WIN_ODD_FINAL_LOCATION=
DOC_Q_GAME_SHOW_CORRECT_OPTION=
DOC_Q_GAME_COOLDOWN_DURATION=

GAME_MIN_WAGER=
GAME_MAX_TOTAL_WAGER_EASY=
GAME_MAX_TOTAL_WAGER_MEDIUM=
GAME_TURN_NOTIFICATION_TIME=
GAME_COOLDOWN_DURATION=

GAME_CONFIRMATION_TIMEOUT=
GAME_START_WAIT_TIME=
GAME_INACTIVE_TIME=
ONE_PIECE_WIKI_URL=

RUSSIAN_ROULETTE_SHOW_BULLET_LOCATION=
WHOS_WHO_NEXT_LEVEL_WAIT_TIME=
SHAMBLES_GRID_SIZE_EASY=
SHAMBLES_GRID_SIZE_MEDIUM=
SHAMBLES_GRID_SIZE_HARD=
SHAMBLES_NEXT_LEVEL_WAIT_TIME=
GUESS_OR_LIFE_STARTING_LIVES=
GUESS_OR_LIFE_NEW_LIFE_WAIT_TIME=
GUESS_OR_LIFE_MAX_CHARACTERS=
GUESS_OR_LIFE_MAX_UNIQUE_CHARACTERS_EASY=
GUESS_OR_LIFE_MAX_UNIQUE_CHARACTERS_MEDIUM=
PUNK_RECORDS_NEXT_DETAIL_WAIT_TIME=
PUNK_RECORDS_STARTING_DETAILS=

LOCATION_PARADISE_IMAGE_URL=
LOCATION_NEW_WORLD_IMAGE_URL=
LOCATION_FOOSHA_VILLAGE_IMAGE_URL=
LOCATION_SHELLS_TOWN_IMAGE_URL=
LOCATION_ORANGE_TOWN_IMAGE_URL=
LOCATION_ISLAND_OF_RARE_ANIMALS_IMAGE_URL=
LOCATION_SYRUP_VILLAGE_IMAGE_URL=
LOCATION_BARATIE_IMAGE_URL=
LOCATION_ARLONG_PARK_IMAGE_URL=
LOCATION_LOUGETOWN_IMAGE_URL=
LOCATION_REVERSE_MOUNTAIN_IMAGE_URL=
LOCATION_WHISKEY_PEAK_IMAGE_URL=
LOCATION_LITTLE_GARDEN_IMAGE_URL=
LOCATION_DRUM_ISLAND_IMAGE_URL=
LOCATION_ARABASTA_KINGDOM_IMAGE_URL=
LOCATION_JAYA_IMAGE_URL=
LOCATION_SKYPIEA_IMAGE_URL=
LOCATION_LONG_RING_LONG_LAND_IMAGE_URL=
LOCATION_WATER_7_IMAGE_URL=
LOCATION_ENIES_LOBBY_IMAGE_URL=
LOCATION_THRILLER_BARK_IMAGE_URL=
LOCATION_SABAODY_ARCHIPELAGO_IMAGE_URL=
LOCATION_FISHMAN_ISLAND_IMAGE_URL=
LOCATION_PUNK_HAZARD_IMAGE_URL=
LOCATION_DRESSROSA_IMAGE_URL=
LOCATION_ZOU_IMAGE_URL=
LOCATION_WHOLE_CAKE_ISLAND_IMAGE_URL=
LOCATION_WANO_COUNTRY_IMAGE_URL=
LOCATION_EGGHEAD_IMAGE_URL=

FIGHT_IMMUNITY_DURATION=
FIGHT_COOLDOWN_DURATION=
FIGHT_MAX_WIN_PROBABILITY_PIRATE_KING=
FIGHT_MAX_WIN_PROBABILITY_EMPEROR=
FIGHT_MAX_WIN_PROBABILITY_FIRST_MATE=
FIGHT_MAX_WIN_PROBABILITY_SUPERNOVA=
FIGHT_MAX_WIN_PROBABILITY_ROOKIE=
FIGHT_MAX_WIN_PROBABILITY_FINAL_LOCATION=
FIGHT_MAX_WIN_PROBABILITY_DEVIL_FRUIT_DEFENSE_BOOST=
FIGHT_MIN_WIN_PROBABILITY_PIRATE_KING=
FIGHT_MIN_WIN_PROBABILITY_EMPEROR=
FIGHT_MIN_WIN_PROBABILITY_FIRST_MATE=
FIGHT_MIN_WIN_PROBABILITY_SUPERNOVA=
FIGHT_MIN_WIN_PROBABILITY_ROOKIE=

PREDICTION_BET_MIN_WAGER=
PREDICTION_CREATE_COOLDOWN_DURATION=

SEND_MESSAGE_LEADERBOARD=
SEND_MESSAGE_LOCATION_UPDATE=
SEND_MESSAGE_MOVE_TO_NEW_WORLD_PROPOSAL=

REQUIRED_LOCATION_LEVEL_DOC_Q_GAME=
REQUIRED_LOCATION_LEVEL_SEND_STICKER=
REQUIRED_LOCATION_LEVEL_SEND_ANIMATION=
REQUIRED_LOCATION_LEVEL_FORWARD_MESSAGE=
REQUIRED_LOCATION_LEVEL_SEND_DICE_EMOJI=
REQUIRED_LOCATION_LEVEL_USE_INLINE_BOTS=
REQUIRED_LOCATION_LEVEL_FIGHT=
REQUIRED_LOCATION_LEVEL_GAME=
REQUIRED_LOCATION_LEVEL_PREDICTION_BET=
REQUIRED_LOCATION_LEVEL_PREDICTION_CREATE=
REQUIRED_LOCATION_LEVEL_DEVIL_FRUIT_COLLECT=
REQUIRED_LOCATION_LEVEL_LOG_STATS=
REQUIRED_LOCATION_LEVEL_PLUNDER=

WHITELIST_FORWARD_MESSAGE=
WHITELIST_INLINE_BOTS=

CREW_CREATE_PRICE=
CREW_MAX_NAME_LENGTH=
CREW_DESCRIPTION_MAX_LENGTH=
CREW_MAX_MEMBERS=
CREW_TRANSACTION_TAX_DISCOUNT=
CREW_POWERUP_BASE_PRICE=
CREW_ABILITY_DURATION_DAYS=
CREW_ABILITY_DEFAULT_VALUE_PERCENTAGE=
CREW_MAX_ABILITIES=
CREW_ABILITY_RANDOM_MIN_VALUE_PERCENTAGE=
CREW_ABILITY_RANDOM_MAX_VALUE_PERCENTAGE=
CREW_MAX_LEVEL_AFTER_RESET=
CREW_JOIN_REQUESTS_PER_COOLDOWN=
CREW_JOIN_REQUEST_COOLDOWN_DURATION=
CREW_JOIN_REQUEST_COOLDOWN_SAME_CREW_DURATION=
DAVY_BACK_FIGHT_REQUEST_EXPIRATION_TIME=
DAVY_BACK_FIGHT_START_WAIT_TIME=
DAVY_BACK_FIGHT_BOUNTY_RESET_COOLDOWN_DURATION=
DAVY_BACK_FIGHT_MIN_PARTICIPANTS=
DAVY_BACK_FIGHT_MIN_DURATION=
DAVY_BACK_FIGHT_MAX_DURATION=
DAVY_BACK_FIGHT_DEFAULT_DURATION=
DAVY_BACK_FIGHT_MIN_LOSE_PENALTY_DURATION=
DAVY_BACK_FIGHT_MAX_LOSE_PENALTY_DURATION=
DAVY_BACK_FIGHT_LOSER_CHEST_PERCENTAGE=

BOUNTY_GIFT_MIN_AMOUNT=
BOUNTY_GIFT_TAX_INCREASE=

BOUNTY_LOAN_MIN_AMOUNT=
BOUNTY_LOAN_TAX_INCREASE=
BOUNTY_LOAN_GARNISH_PERCENTAGE=
BOUNTY_LOAN_MAX_DURATION_DAYS=
BOUNTY_LOAN_FORGIVENESS_DAYS=
BOUNTY_LOAN_ISSUE_COOLDOWN_DURATION=
BOUNTY_LOAN_PREDATORY_INTEREST_THRESHOLD=
PIRATE_KING_TRANSACTION_TAX_DISCOUNT=

DEVIL_FRUIT_EXPIRATION_DAYS=
DEVIL_FRUIT_RESPAWN_HOURS=
DEVIL_FRUIT_MAINTAIN_MIN_LATEST_LEADERBOARD_APPEARANCE=
DEVIL_FRUIT_MIN_ACTIVE_USERS_PER_DEVIL_FRUIT=
DEVIL_FRUIT_REGULAR_ZOAN_TO_ANCIENT_ZOAN_RATIO=
DEVIL_FRUIT_COLLECT_COOLDOWN_DURATION=
DEVIL_FRUIT_SMILE_MAX_DAYS=
DEVIL_FRUIT_SMILE_DEFECTIVE_PERCENTAGE=

ROOKIES_OR_ARRESTED_CAN_VIEW_STATUS_IN_GROUP=

TAX_BRACKET_0_TOTAL_BOUNTY=
TAX_BRACKET_0_PERCENTAGE=
TAX_BRACKET_1_TOTAL_BOUNTY=
TAX_BRACKET_1_PERCENTAGE=
TAX_BRACKET_2_TOTAL_BOUNTY=
TAX_BRACKET_2_PERCENTAGE=
TAX_BRACKET_3_TOTAL_BOUNTY=
TAX_BRACKET_3_PERCENTAGE=
TAX_BRACKET_4_TOTAL_BOUNTY=
TAX_BRACKET_4_PERCENTAGE=
TAX_BRACKET_5_TOTAL_BOUNTY=
TAX_BRACKET_5_PERCENTAGE=
TAX_BRACKET_6_TOTAL_BOUNTY=
TAX_BRACKET_6_PERCENTAGE=
TAX_BRACKET_7_TOTAL_BOUNTY=
TAX_BRACKET_7_PERCENTAGE=
TAX_BRACKET_8_TOTAL_BOUNTY=
TAX_BRACKET_8_PERCENTAGE=
TAX_BRACKET_9_TOTAL_BOUNTY=
TAX_BRACKET_9_PERCENTAGE=
TAX_BRACKET_10_TOTAL_BOUNTY=
TAX_BRACKET_10_PERCENTAGE=
TAX_BRACKET_11_TOTAL_BOUNTY=
TAX_BRACKET_11_PERCENTAGE=
TAX_CREW_CHEST_PERCENTAGE=

PLUNDER_MIN_INACTIVE_HOURS=
PLUNDER_MAX_INACTIVE_HOURS=
PLUNDER_IMMUNITY_DURATION=
PLUNDER_COOLDOWN_DURATION=
PLUNDER_REPAY_MULTIPLIER=

IMPEL_DOWN_BAIL_PER_MINUTE=
